@import "global";
.content-view{
  width: 100%;
  height: 100%;
}
.main-title{
  width: 100%;
  height: 50px;
  padding: 15px;
  background: $colorDarkBlue;
  color:$colorWhite;
  position: relative;
  .into-test{
    float: right;
    margin-left: 15px;
    cursor: pointer;
  }
}